APP_NAME=currency
APP_ENV=local
APP_KEY=e9bec6193b424975904de2a10bda56d9
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=db_name
DB_USERNAME=db_user
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

USER_ID=197610
GROUP_ID=197121

JWT_TTL=1440

TEST_AUTH_NAME=Test
TEST_AUTH_EMAIL=test@test.com
TEST_AUTH_PASS=TestPassword

TEST_NOT_AUTH_NAME=Test0
TEST_NOT_AUTH_EMAIL=test0@test.com
TEST_NOT_AUTH_PASS=TestPassword0

AUTH_API_HOST=auth-api.apm.host

PRODUCT_LIST_LIMIT=50

PRODUCT_LIST_PER_PAGE=50

QUEUE_CONNECTION=rabbitmq

RABBITMQ_PORT=5762
RABBITMQ_TIMEOUT=0
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=localhost
RABBITMQ_QUEUE=default
RABBITMQ_EXCHANGE=default
RABBITMQ_VHOST=/

RABBITMQ_PRODUCT_IMPORT_ROUTING_KEY=exchange_routing_key
RABBITMQ_PRODUCT_IMPORT_QUEUE=product_import_queue
RABBITMQ_PRODUCT_IMPORT_EXCHANGE=product_import_exchange